@media only screen and (max-width: 600px) {
    nav{
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 10px;
    }
    .navBoxes{
        font-size: 14px;
    }
    header{
        padding: 7px 5px;
    }
    main{
        flex-direction: column;
        justify-content: center;
    }
    article{
        grid-template-columns: 1fr;
    }
    .card{
        height: auto;
    }
    .cButtonv button{
        width: 100%;
    }
    .cButtonv :first-child{
        background-color: white;
    }
    .cButtonv :nth-child(2){
        background-color: #00a63e; 
        color: white;
    }
    .cButtonv :nth-child(2) span{
        background: transparent;
    }
    aside{
        width: 320px;
    }
    .clearBtn{
        background-color: #00a63e;
        border-radius: 100px;
        color: white;
        font-size: bold;
    }
}